CREATE DATABASE IF NOT EXISTS awscalcu;
USE awscalcu;

-- Regions Table
CREATE TABLE IF NOT EXISTS Regions (
    id INT AUTO_INCREMENT PRIMARY KEY,
    region_name VARCHAR(100) NOT NULL,
    sub_region VARCHAR(100) NOT NULL
);

-- Insert sample regions
INSERT INTO Regions (region_name, sub_region) VALUES
('NA', 'us-east-1'),
('NA', 'us-west-2'),
('NA', 'ca-central-1'),
('NA', 'us-gov-west-1'),
('Africa', 'af-south-1'),
('Asia Pacific', 'ap-northeast-2'),
('Asia Pacific', 'ap-southeast-1'),
('Asia Pacific', 'ap-southeast-2'),
('Asia Pacific', 'ap-northeast-1'),
('EU', 'eu-central-1'),
('EU', 'eu-west-2');
